body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#navbar-name{
    font-size: 15px;
    padding-left: 5%;
    font-weight: 540;
    font-family:inherit;
}
.navbar-nav li{
    font-size: 15px;
    padding: 12px;
    font-weight: 540;
    font-family:inherit;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: aqua;
}

#home-container{
    height: 300px;
    width: auto;
}

#home-sub{
    display: flex;
    justify-content: center;
}

.prefix{
    font-size: 55px;
    font-weight: 780;
    line-height: 80px;
    letter-spacing: 3px;
    font-family: "Source Sans Pro", sans-serif;
}

.home-sub-section{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

.myButton {
    background-color: #6055ff;
    color: white;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    border-color:#6055ff;
    padding: 8px 5rem;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
}

.about{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgb(127, 14, 110); 
}
#about-container{
    padding-top: 40px;
}
#about-2nd-row{
    padding-top:1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-detail{
    font-size: 30px;
    font-weight: 400;
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
}

#about-sub{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}