@use "./components/header";
@use "./components/home";
@use "./components/about";
@use "./components/techstack";
@use "./components/projects";

html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family:'Inter', 'Poppins', 'Space Grotesk', sans-serif;
}